<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="conStr" connectionString="Data Source=KYRIACOSZ-PC\SQLSERVER2017;Initial Catalog=BlueAnalitics;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />
       
    </connectionStrings>
</configuration>