<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="conStr" connectionString="Data Source=KYRIACOSZ-PC\SQLSERVER2017;Integrated Security=True;Initial Catalog=BlueAnalitics;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />
       
    </connectionStrings>
</configuration>